<!DOCTYPE html>
<html>
<head>
    <title>Low-Level API Demo</title>
</head>
<body>
    <h1>File API</h1>
    <input type="file" id="fileInput" />
    <pre id="fileContent"></pre>

    <h1>WebRTC API</h1>
    <video id="videoElement" autoplay></video>

    <script src="~/js/site.js"></script>
</body>
</html>
